@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html,
body {
  /* height: 100% !important; */
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  /* background: linear-gradient(to right bottom, #873572, black); */
}
/* a {
  display: inline-block;
  color: lightgrey;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  padding: 12px;
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
} */

/* a:hover {
  background: rgba(0, 0, 0, 0.23);
  color: white;
  transform: scale(1.03);
  text-decoration: none;
}
a:active {
  transform: scale(0.98);
} */


.tabs {
  overflow: hidden;
  /* background-color: #f1f1f1;
  border-bottom: 1px solid #ccc; */
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr;
  justify-content: center;
}

.tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  font-weight: 600  ;
}
.tablinks img{
  padding-right: 5px;
}

.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #000000;
  color: white;
}

.tabcontent {
  display: none;
  padding: 20px 0;
  /* border: 1px solid #ccc; */
  border-top: none;
}

.product-grid {
  display: grid;
  gap:5px;
  grid-template-rows: 1FR;
  grid-template-columns:0.5fr 0.5fr 0.5fr 0.5fr ;
}

.product-card {
  /* border: 1px solid; */
  /* max-width:500px; */
  border-radius: 10px;
  padding: 10px;
  overflow:hidden ;
  /* height: 500px; */
  position: relative;
  line-height: 2rem;
}

img.product-image {
  width: 100%;
  height: 300px;
}

.header h1{
  text-transform: uppercase;
  text-shadow: 0px 4px 4px #00000059;
  font-weight: 700;
}

.product-btn{
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius:5px;
}

.product-header{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}


.compare-price{
  text-decoration: line-through;
  color: #ddd;
  padding: 0 5px;
}

.percent{
  color: red;
}

.product-title{
  width:50% ;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
span.badge {
  margin: 5px 10px;
  left: 5px;
  padding: 0 10px;
  position: absolute;
  background: white;
  font-weight: 600;
  font-family: Khula;
  border-radius: 5px;
  width: 120px;
  text-align: center;
}


@media screen and (max-width:1200px) {

  .product-grid {
    display: grid;
    gap:5px;
    grid-template-rows: 1FR;
    grid-template-columns:0.5fr 0.5fr 0.5fr ;
  }
}


@media screen and (max-width:720px) {

  .product-grid {
    display: grid;
    gap:5px;
    grid-template-rows: 1FR;
    grid-template-columns:0.5fr 0.5fr  ;
  }
}


@media screen and (max-width:400px) {

  .product-grid {
    display: grid;
    gap:5px;
    grid-template-rows: 1FR;
    grid-template-columns:1fr ;
  }
}